.labs-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.labs-list--bordered {
  border: 1px solid var(--border-gray);
  border-radius: var(--radius--md);
  overflow: hidden;
}

.labs-list--divided .labs-list-item:not(:last-child) {
  border-bottom: 1px solid var(--border-gray);
}

.labs-list-item {
  display: flex;
  align-items: center;
  gap: var(--space--4);
  padding: var(--space--3) var(--space--4);
  background-color: transparent;
  transition: all var(--transition--fast);
  outline: none;
}

.labs-list-item--clickable {
  cursor: pointer;
}

.labs-list-item--clickable:hover,
.labs-list-item:focus-visible {
  background-color: var(--text-disabled);
}

.labs-list-item--muted,
.labs-list-item--muted:hover {
  background-color: var(--bg-primary-light);
  color: var(--text-primary);
}

/* Slot Start / Icon / Avatar */
.labs-list-item__start {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--text-disabled);
}

.labs-list-item--muted .labs-list-item__start {
  color: var(--text-primary);
}

/* Content Slot */
.labs-list-item__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.labs-list-item__title {
  font-size: var(--font--size--sm);
  color: var(--text-gray);
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.labs-list-item__description {
  font-size: var(--font--size--xs);
  color: var(--text-disabled);
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Ends Slot (Badges, Buttons flex-end) */
.labs-list-item__end {
  display: flex;
  align-items: center;
  gap: var(--space--2);
  flex-shrink: 0;
}





