.link {
  --link-color: var(--text-primary);
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
  transition: all var(--transition--fast);
  display: inline-flex;
  align-items: center;
  gap: var(--space--1);
}
.link:hover { opacity: 0.85; }
.link--underline { border-bottom: 1px solid transparent; }
.link--underline:hover { border-bottom-color: currentColor; }
.link--active { font-weight: var(--font--weight--bold); }
