.topbar {
  padding: 0 var(--space--6);
  height: 64px;
  background-color: var(--surface);
  border-bottom: 1px solid var(--border-neutral);
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font--family);
}

.topbar--sticky {
  position: sticky;
  top: 0;
  z-index: var(--z--sticky);
}


.topbar__logo {
  font-size: var(--font--size--xl);
  font-weight: 700;
  color: var(--text-primary);
  cursor: pointer;
  text-decoration: none;
}

.topbar__logo img {
  height: 28px;
  width: auto;
}

.topbar__center {
  flex: 1;
}

.topbar__nav {
  height: 64px;
}

.topbar__nav-item {
  background: transparent;
  border: none;
  color: var(--text-disabled);
  font-size: var(--font--size--sm);
  font-weight: 500;
  cursor: pointer;
  height: 100%;
  padding: 0 var(--space--1);
  display: flex;
  align-items: center;
  position: relative;
  transition: all var(--transition--fast);
  text-decoration: none;
}

.topbar__nav-item:hover {
  color: var(--text-primary);
}

.topbar__nav-item--active {
  color: var(--text-primary);
}

.topbar__nav-item--active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--text-primary);
  border-radius: 2px 2px 0 0;
}


.topbar--nav-right .topbar__center {
  display: none;
}

.topbar--nav-right .topbar__right {
  gap: var(--space--6);
}





