.timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timeline-item {
  display: flex;
  gap: var(--space--4);
}

.timeline-item__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 40px;
}

.timeline-item__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}

.timeline-item__line-container {
  display: flex;
  flex: 1;
  justify-content: center;
  min-height: 24px;
  width: 100%;
}

.timeline-item__line-container::after {
  content: '';
  width: 2px;
  height: 100%;
  background: var(--surface-inverse);
  opacity: 0.5;
  border-radius: var(--radius--pill);
}

.timeline-item:last-child .timeline-item__line-container {
  visibility: hidden;
}

.timeline-item__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: var(--space--10);
}

.timeline-item:last-child .timeline-item__content {
  padding-bottom: 0;
}

.timeline-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.25rem;
}

.timeline-item__title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-gray);
}

.timeline-item__date {
  font-size: 0.75rem;
  color: var(--text-gray);
  font-style: italic;
  white-space: nowrap;
}

.timeline-item__description {
  font-size: 0.875rem;
  color: var(--text-disabled);
}

.timeline-item--dot .timeline-item__left {
  width: 24px;
}
.timeline-item--dot .timeline-item__icon-wrapper {
  height: 24px;
}
.timeline-item--dot .timeline-item__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--bg-primary);
  box-shadow: 0 0 8px var(--bg-primary-light);
  margin-top: 10px;
}





