.labs-text {
  margin: 0;
  color: var(--color--gray);
  font-family: var(--font--family);
  line-height: var(--line--height--md);
}

.labs-text--xs { font-size: var(--font--size--xs); }
.labs-text--sm { font-size: var(--font--size--sm); }
.labs-text--md { font-size: var(--font--size--md); }
.labs-text--lg { font-size: var(--font--size--lg); }
.labs-text--xl { font-size: var(--font--size--xl); }

.labs-text--regular { font-weight: var(--font--weight--regular); }
.labs-text--medium { font-weight: var(--font--weight--medium); }
.labs-text--bold { font-weight: var(--font--weight--bold); }

.labs-text--left { text-align: left; }
.labs-text--center { text-align: center; }
.labs-text--right { text-align: right; }

.labs-heading {
  margin: 0;
  color: var(--color--gray);
  font-family: var(--font--family);
  font-weight: var(--font--weight--bold);
  line-height: 1.2;
}

.labs-heading--xl { font-size: calc(var(--font--size--2xl) * 1.4); }
.labs-heading--lg { font-size: calc(var(--font--size--xl) * 1.45); }
.labs-heading--md, .labs-heading--m { font-size: calc(var(--font--size--lg) * 1.4); }
.labs-heading--s { font-size: calc(var(--font--size--md) * 1.3); }
.labs-heading--sm { font-size: calc(var(--font--size--sm) * 1.2); }
.labs-heading--xs { font-size: calc(var(--font--size--xs) * 1.15); text-transform: uppercase; letter-spacing: 0.05em; }



