.labs-accordion {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color--grayDark);
  border-radius: var(--radius--lg);
  background-color: var(--color--grayLight);
  position: relative;
}

.labs-accordion > :first-child { border-radius: inherit inherit 0 0; }
.labs-accordion > :last-child { border-radius: 0 0 inherit inherit; }


.labs-accordion-item {
  border-bottom: 1px solid var(--color--grayDark);
}

.labs-accordion-item:last-child {
  border-bottom: none;
}

.labs-accordion-item__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--space--4) var(--space--4);
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  transition: all var(--transition--fast);
}

.labs-accordion-item__trigger:hover {
  background-color: var(--color--grayLight);
}

.labs-accordion-item__trigger:focus-visible {
  outline: 2px solid var(--color--violet);
  outline-offset: -2px;
}

.labs-accordion-item__title {
  font-size: var(--font--size--md);
  font-weight: 600;
  color: var(--color--gray);
}

.labs-accordion-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color--grayDark);
  transition: transform 0.3s cubic-bezier(0.87, 0, 0.13, 1);
}

.labs-accordion-item--open .labs-accordion-item__icon {
  transform: rotate(180deg);
}

.labs-accordion-item__content-wrapper {
  overflow: hidden;
}

.labs-accordion-item__content-wrapper[hidden] {
  display: none;
}

.labs-accordion-item__content {
  padding: var(--space--4) var(--space--4);
  padding-top: 0;
  color: var(--color--grayLight);
  font-size: var(--font--size--sm);
  line-height: var(--line--height--lg);
}





