.labs-card {
  background: var(--color--grayLight);
  border-radius: var(--radius--xl);
  border: 1px solid var(--color--grayDark);
  position: relative;
}

.labs-card > :first-child { border-radius: inherit inherit 0 0; }
.labs-card > :last-child { border-radius: 0 0 inherit inherit; }

/* Variants */
.labs-card--default { box-shadow: var(--shadow--sm); }
.labs-card--elevated { box-shadow: var(--shadow--md); }
.labs-card--outlined { background: var(--color--grayLight); box-shadow: none; }
.labs-card--ghost { background: var(--color--grayLight); border-color: transparent; box-shadow: none; }

/* Padding */
.labs-card--pad-sm { padding: var(--space--3); }
.labs-card--pad-md { padding: var(--space--4); }
.labs-card--pad-lg { padding: var(--space--8); }

.labs-card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--space--4);
  padding: var(--space--4) var(--space--4) 0;
}
.labs-card-header__content { display: flex; flex-direction: column; gap: var(--space--1); }
.labs-card-header__title-wrapper { display: flex; align-items: center; gap: var(--space--3); }
.labs-card-header__icon { color: var(--color--violet); display: flex; align-items: center; flex-shrink: 0;  }
.labs-card-header__title { margin: 0; font-size: var(--font--size--lg); font-weight: var(--font--weight--bold); color: var(--color--gray); line-height: var(--line--height--sm); }
.labs-card-header__description { margin: 0; font-size: var(--font--size--sm); color: var(--color--grayLight); }
.labs-card-header__action { flex-shrink: 0; }

.labs-card-body { padding: var(--space--4); }
.labs-card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space--3);
  padding: var(--space--4) var(--space--4);
  border-top: 1px solid var(--color--grayDark);
}





